.account-body {
  background-color: #f7f7f7;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
}

.sidebar {
  margin: 0.5rem;
  height: calc(100% - 1rem);
}

.sidebar a {
  border-radius: 5px;
}

.sidebar a.nav-link.active {
  border-color: #dee2e6;
}

.account-content {
  margin-top: 0.5rem;
  height: calc(100% - 0.5rem);
}

.account-content-pane {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
}

#button-style {
  border: 0px solid white;
}

@media (max-width: 576px) {
  .sm-overflow-y-auto {
    overflow-y: auto;
  }
}

@media (min-width: 576px) {
  .sm-h-full {
    height: 100%;
  }
}

.text-center {
  text-align: center;
}

.overflow-auto {
  overflow: auto;
}
